html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #333;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}}
::-webkit-resizer { background-color: #666;}

body{
  margin-top:20px;
}

.dark{
  background-color:#444;
  color:#fff;
}

h3{
  margin-top:10px;
}
h5{
  margin-bottom:30px;
}

li{
  background-color:transparent !important;
  border:none !important;
  border-bottom: 1px solid #666 !important;
  border-radius:0px !important;
}

.remove{
  background-color:transparent;
  color:#888;
  border:none;
  float:right;
}
.remove:hover{
  background-color:#444;
}

.photo{
  margin-top:10px;
}

#status-indicator{
  font-size:1.6em;
  margin-left:30px;
}

#clear{
  float:right;
  margin-top:5px;
}

#token_input{
  background-color:#444;
  color:#fff;
  margin-bottom:20px;
}

#add_user_input:focus{
  background-color:#444;
  color:#fff;
}

#added_users{
  max-height:200px;
  overflow-y:scroll;
}
#create_game{
  float:right;
  margin-top:10px;
}
